body {
	margin: 0px;
}
body.loading {
	pointer-events: none;
}

header {
	padding: 15px;
}

a {
	outline: 0;
}

header .logo {
    /*background-image: url(/assets/img/logo.svg);*/
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 32px;
    font-family: Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

header .cv {
    text-decoration: none;
    color: #000;
    font-size: 26px;
    font-family: Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    float: left;
    width: 130px;
}

header .contact {
    text-decoration: none;
    color: #000;
    font-size: 26px;
    font-family: Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    float: right;
    width: 130px;
}


header .logo:visited {
	color: #000;
}

.main {
	position: absolute;
	top: 84px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.main .gradient {
    display: none;
    position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20;
	width: 100%;
	height: 30px;
	background-image: url('/assets/img/gradient.png');
	background-repeat: repeat-x;
}

#include {
	opacity: 1;
	transition: opacity 200ms linear;
}

.home {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #FFF;
    text-align: center;
}

.home .sections {
	margin: 0px auto;
    text-align: left;
    padding: 0px 50px;
    max-width: 1100px;
    display: inline-block;
    
}

.home section {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 20px;
	transition: transform 500ms cubic-bezier(0.520, 0.000, 0.000, 1.350);
}

.home section .bubble {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 0px solid #000;
	background-position: center center;
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.15);
	transition:
		width 200ms ease-out,
		height 200ms ease-out,
		top 200ms ease-out,
		left 200ms ease-out,
		opacity 200ms linear,
		transform 600ms cubic-bezier(0.520, 0.000, 0.000, 1.350);
}
.home section .bubble:hover {
	width: 210px;
	height: 210px;
	top: -5px;
	left: -5px;
}
.home section .bubble:active {
	width: 220px;
	height: 220px;
	top: -10px;
	left: -10px;
}
.home section.bibu-1 .bubble {
	background-image: url('/assets/img/thumbs/section_bibu_1.png')
}
.home section.bibu-2 .bubble {
	background-image: url('/assets/img/thumbs/section_bibu_2.png')
}
.home section.bibu-3 .bubble {
	background-image: url('/assets/img/thumbs/section_bibu_3.png')
}
.home section.fleurs-1 .bubble {
	background-image: url('/assets/img/thumbs/section_fleurs_1.png')
}
.home section.fleurs-2 .bubble {
	background-image: url('/assets/img/thumbs/section_fleurs_2.png')
}
.home section.fleurs-3 .bubble {
	background-image: url('/assets/img/thumbs/section_fleurs_3.png')
}
.home section.fleurs-4 .bubble {
	background-image: url('/assets/img/thumbs/section_fleurs_4.png')
}
.home section.nawak-1 .bubble {
	background-image: url('/assets/img/thumbs/section_nawak_1.png')
}
.home section.nawak-2 .bubble {
	background-image: url('/assets/img/thumbs/section_nawak_2.png')
}
.home section.nawak-3 .bubble {
	background-image: url('/assets/img/thumbs/section_nawak_3.png')
}
.home section.oiseau .bubble {
	background-image: url('/assets/img/thumbs/section_oiseau.png')
}
.home section.taches-1 .bubble {
	background-image: url('/assets/img/thumbs/section_taches_1.png')
}
.home section.taches-2 .bubble {
	background-image: url('/assets/img/thumbs/section_taches_2.png')
}
.home section.taches-3 .bubble {
	background-image: url('/assets/img/thumbs/section_taches_3.png')
}
.home section.ville-1 .bubble {
	background-image: url('/assets/img/thumbs/section_ville_1.png')
}
.home section.ville-2 .bubble {
background-image: url('/assets/img/thumbs/section_ville_2.png')
}
body.loading .home section .bubble {
	opacity: 0.6;
}
body.loading .home section .bubble.loading {
	opacity: 1;
}
.home section .bubble.animating,
.home section .bubble.loading {
	width: 200px;
	height: 200px;
	top: 0px;
	left: 0px;
}
.home section .bubble.loading:before,
.home section .bubble.loading:after {
	content: '';
	display: block;
	position: absolute;
	border: 10px solid transparent;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	animation: loading-circle 1300ms infinite;
}
.home section .bubble.loading:before {
	border-bottom-color: rgba(255, 255, 255, 0.3);
	animation-direction: reverse;
	animation-duration: 1000ms;
}
.home section .bubble.loading:after {
	border-top-color: rgba(255, 255, 255, 0.3);
}

@keyframes loading-circle {
	0% {
		transform: rotate(0deg);
	}
	90% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.page {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: auto;
	padding: 20px 50px;
	background-color: #FFF;
}

.page section {
	text-align: center;
	max-width: 1200px;
	margin: 0px auto;
}
.page section img {
	max-width: 100%;
}
.page.cv .cv-container {
    width: 80%;
    margin: 0 auto;
}
.page.cv section {
    text-align: left;
    font-family: Helvetica;
    
    
}

.page.cv section.skills,
.page.cv section.languages {
    float: left; 
}
.page.cv section.education {
        clear: both;
    overflow: hidden;

}
.page.cv h1 {
    font-weight: bold;
    color: darkslateblue;

}

.page.cv h2 {
    font-size: 18px;


}
.page.cv li {
    float:left;
    width: 150px;
}
.page.cv ul {
    width: 300px;
    list-style: none;
    padding: 0;
}

.page.cv li.bold {
    font-weight: bold;
}

.page.contact .form {
    width: 800px;
    margin: 0px auto;
}

.page.contact .form p {
    font-size: 10px;
    text-align: center;
}